@import "./tokens/themes/default/standard.css";
@import "./tokens/themes/default/standard.dark.css";
@import "./tokens/themes/default/neumorphic.css";
@import "./tokens/themes/default/neumorphic.dark.css";
@import "./styles/typography.css";
@import "./styles/text-input.css";
@import "./styles/textarea.css";
@import "./styles/number-input.css";
@import "./styles/button.css";
@import "./styles/dropdown.css";
@import "./styles/nav-button.css";
@import "./styles/sidesheet.css";
@import "./styles/sidemenu.css";
@import "./styles/tooltip.css";
@import "./styles/toggle-button.css";
@import "./styles/checkbox.css";
@import "./styles/radio-button.css";
@import "./styles/tabs.css";
@import "./styles/table.css";
@import "./styles/avatar.css";
@import "./styles/date-time-picker.css";
@import "./styles/color-picker.css";
@import "./styles/icon-picker.css";
@import "./styles/file-uploader.css";
@import "./styles/select.css";
@import "./styles/sidepanel.css";
@import "./styles/form-group.css";
@import "./styles/modal.css";
@import "./styles/toast.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    font-size: var(--font-size);
  }

  h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  label {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}
